In [240]:
import numpy as np
import pandas as pd

In [241]:
data_name = 'satimage.scale'
data_name = 'pendigits'
#data_name = 'vehicle.scale'

true_value = np.loadtxt(fname='exp_results/true_value_%s.csv'%data_name,  dtype="float", delimiter=",")
res_ipw3 = np.loadtxt(fname='exp_results/res_ipw3_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dm = np.loadtxt(fname='exp_results/res_dm_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml1 = np.loadtxt(fname='exp_results/res_dml1_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml2 = np.loadtxt(fname='exp_results/res_dml2_%s.csv'%data_name,  dtype="float", delimiter=",")

In [242]:
true_value = true_value[:50]
res_ipw3 = res_ipw3[:50]
res_dm = res_dm[:50]
res_dml1 = res_dml1[:50]
res_dml2 = res_dml2[:50]

In [243]:
for i in range(3):
    mse_dml1 = np.sqrt(np.mean((res_dml1[:,i] - true_value)**2))
    mse_dml2 = np.sqrt(np.mean((res_dml2[:,i] - true_value)**2))
    mse_ipw3 = np.sqrt(np.mean((res_ipw3[:,i] - true_value)**2))
    mse_dm = np.sqrt(np.mean((res_dm[:,i] - true_value)**2))
    
    if i == 0:
        data = np.array([[mse_dml1, mse_dml2, mse_ipw3, mse_dm]])
    else:
        data = np.append(data, np.array([[mse_dml1, mse_dml2, mse_ipw3, mse_dm]]), axis=0)

In [244]:
print(np.round(pd.DataFrame(data), 3).to_latex())

\begin{tabular}{lrrrr}
\toprule
{} &      0 &      1 &       2 &      3 \\
\midrule
0 &  0.349 &  0.351 &  43.456 &  0.304 \\
1 &  0.322 &  0.335 &  40.839 &  0.479 \\
2 &  0.519 &  0.565 &  17.182 &  0.704 \\
\bottomrule
\end{tabular}

In [257]:
data_name = 'satimage.scale'
#data_name = 'pendigits'
#data_name = 'vehicle.scale'

true_value = np.loadtxt(fname='exp_results/true_value_%s.csv'%data_name,  dtype="float", delimiter=",")
res_ipw3 = np.loadtxt(fname='exp_results/res_ipw3_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dm = np.loadtxt(fname='exp_results/res_dm_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml1 = np.loadtxt(fname='exp_results/res_dml1_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml2 = np.loadtxt(fname='exp_results/res_dml2_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml1_sn = np.loadtxt(fname='exp_results/res_dml1_sn_%s.csv'%data_name,  dtype="float", delimiter=",")
res_dml2_sn = np.loadtxt(fname='exp_results/res_dml2_sn_%s.csv'%data_name,  dtype="float", delimiter=",")

In [258]:
for i in range(3):
    mse_dml1 = np.sqrt(np.mean((res_dml1[:,i] - true_value)**2))
    mse_dml2 = np.sqrt(np.mean((res_dml2[:,i] - true_value)**2))
    mse_dml1_sn = np.sqrt(np.mean((res_dml1_sn[:,i] - true_value)**2))
    mse_dml2_sn = np.sqrt(np.mean((res_dml2_sn[:,i] - true_value)**2))
    mse_ipw3 = np.sqrt(np.mean((res_ipw3[:,i] - true_value)**2))
    mse_dm = np.sqrt(np.mean((res_dm[:,i] - true_value)**2))
    
    if i == 0:
        data = np.array([[mse_dml1, mse_dml2, mse_dml1_sn, mse_dml2_sn, mse_ipw3, mse_dm]])
    else:
        data = np.append(data, np.array([[mse_dml1, mse_dml2, mse_dml1_sn, mse_dml2_sn, mse_ipw3, mse_dm]]), axis=0)

In [259]:
print(np.round(pd.DataFrame(data), 3).to_latex())

\begin{tabular}{lrrrrrr}
\toprule
{} &      0 &      1 &      2 &      3 &       4 &      5 \\
\midrule
0 &  0.305 &  0.305 &  0.405 &  0.406 &   4.560 &  0.202 \\
1 &  0.272 &  0.257 &  0.421 &  0.416 &  20.251 &  0.369 \\
2 &  0.335 &  0.381 &  0.579 &  0.589 &  10.267 &  0.582 \\
\bottomrule
\end{tabular}

In [170]:
2350000000 < 1490000000

False